{%extends 'base.html' %}
 {%block content%}
 <h1>Click on a button of your choice</h1>
<form action="{{ url_for('read')}}" method="post">
    <button type="submit">List Songs</button>
</form>
<form action="{{ url_for('add')}}" method="get">
    <button type="submit">Add Songs</button>
</form>
<form action="{{ url_for('add')}}" method="post">
    <button type="submit">Update Songs</button>
</form>
<form action="{{ url_for('add')}}" method="post">
    <button type="submit">Delete Songs</button>
</form>
{%endblock%}